[user]
	name = Howard
	email = 62504060+Howard-K@users.noreply.github.com
[init]
    defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[windows]
    appendAtomically = false
[http]
	schannelCheckRevoke = false
