[user]
	name = howardk
    email = 62504060+do71n@users.noreply.github.com
[init]
    defaultBranch = main
[core]
    editor = nvim
	excludesfile = ~/.gitignore_global
[windows]
    appendAtomically = false
[http]
	schannelCheckRevoke = false
